parent {
  display: flex;
  justify-content: center; /* Center horizontally */
}
.container {
  width: 500px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #3d081b;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #707070;
}
